/* fade */
.fade {
  &-enter-active {
    animation: fadein 0.25s;
  }

  &-leave-active {
    animation: fadeout 0.25s;
  }
}

@keyframes fadein {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes fadeout {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

.fade-user-container-enter-active {
  animation: fadeuserin 0.3s;
  white-space: nowrap;
  overflow: hidden;
  .flex_container {
    flex-wrap: nowrap;
  }
}
.fade-user-container-leave-active {
  animation: fadeuserout 0.3s;
  white-space: nowrap;
  overflow: hidden;
  .flex_container {
    flex-wrap: nowrap;
  }
}
@keyframes fadeuserin {
  0% {
    opacity: 0;
    margin-right: 90%;
  }
  100% {
    opacity: 1;
    margin-right: 0%;
  }
}
@keyframes fadeuserout {
  0% {
    opacity: 1;
    margin-left: 0%;
  }
  100% {
    opacity: 0;
    margin-left: 90%;
  }
}

/* fade-no-slide */
.fade-no-slide-enter-active,
.fade-no-slide-leave-active {
  transition: opacity 0.3s;
}
.fade-no-slide-enter,
.fade-no-slide-leave-to {
  opacity: 0;
}
.fade-no-slide-move {
  transition: 0.3s;
}

/* flip */
.flip {
  &-move {
    transition: transform 0.3s;
  }
  &-enter {
    &-active {
      opacity: 0;
      transition: opacity 0.5s;
    }
    &-to {
      opacity: 1;
    }
  }
  &-leave {
    &-active {
      position: absolute !important;
      display: none;
    }
  }
}
