#attendance-manager {
  .notification {
    text-align: center;
    margin: 5px auto;
  }
  .toggle-btn,
  .complete-btn,
  .cancel-btn {
    margin: 5px auto;
    max-width: 400px;
    width: 90%;
    height: 40px;
    font-size: 18px;
  }
  .cancel-wrapper {
    width: 100%;
    text-align: center;
    .cancel-btn {
      font-size: 15px;
      max-width: 350px;
      width: 50%;
    }
  }
}

#showAttendances {
  .main {
    display: flex;
    flex-wrap: nowrap;
    @include pc {
      margin: auto;
      width: fit-content;
    }
  }
  .scroll {
    overflow-x: auto;
    white-space: nowrap;
  }
  .table {
    .tr {
      .th {
        height: 75px;
        .title {
          font-size: 18px;
          color: #77b;
          line-height: 22px;
        }
        .mtg-name {
          width: 70px;
          white-space: normal;
        }
      }
      .rate {
        font-weight: bold;
      }
      .td {
        height: 24px;
        text-align: center;
      }
      .name {
        text-align: left;
        white-space: nowrap;
      }
      .group {
      }
      .mtg {
      }
    }
  }
}
