#attendance-manager {
  .notification {
    text-align: center;
    margin: 5px auto;
  }
  .toggle-btn,
  .complete-btn,
  .cancel-btn {
    margin: 5px auto;
    max-width: 400px;
    width: 90%;
    height: 40px;
    font-size: 18px;
  }
  .cancel-wrapper {
    width: 100%;
    text-align: center;
    .cancel-btn {
      font-size: 15px;
      max-width: 350px;
      width: 50%;
    }
  }
}

#showAttendances {
  .main {
    display: flex;
    flex-wrap: nowrap;
    @include pc {
      margin: auto;
      width: fit-content;
    }
  }
  .scroll {
    overflow-x: auto;
    white-space: nowrap;
  }
  .table {
    font-size: 12px;
    @include pc {
      font-size: 15px;
    }
    .tr {
      .th {
        height: 75px;
        .title {
          font-size: 15px;
          color: #77b;
          line-height: 20px;
          @include pc {
            font-size: 18px;
            line-height: 22px;
          }
        }
        .mtg-name {
          width: 50px;
          white-space: normal;
          @include pc {
            width: 70px;
          }
        }
      }
      .rate {
        font-weight: bold;
      }
      .td {
        height: 26px;
        text-align: center;
        @include pc {
          height: 32px;
        }
      }
      .attend, .no-data {
        color: #337;
      }
      .absent {
        color: #ccc;
      }
      .late, .early {
        color: #779;
      }
      .overseas {
        color: #bdf;
      }
      .name {
        text-align: left;
        white-space: nowrap;
      }
    }
  }
}
