/*Checkboxes styles*/
.input-checkbox {
  display: none;
}

.input-checkbox + .label-checkbox {
  display: block;
  position: relative;
  padding-left: 30px;
  margin-bottom: 20px;
  line-height: 20px;
  color: #aaa;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

.input-checkbox + .label-checkbox:last-child {
  margin-bottom: 0;
}

.input-checkbox + .label-checkbox:before {
  content: "";
  box-sizing: border-box;
  display: block;
  width: 20px;
  height: 20px;
  border: 1px solid #aaa;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0.6;
  -webkit-transition: all 0.12s, border-color 0.08s;
  transition: all 0.12s, border-color 0.08s;
}
.input-checkbox:checked + .label-checkbox {
  color: #555;
}
.input-checkbox:checked + .label-checkbox:before {
  border-color: #77b;
  width: 10px;
  top: -5px;
  left: 5px;
  border-radius: 0;
  opacity: 1;
  border-top-color: transparent;
  border-left-color: transparent;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  transition: 0.3s;
}

.radio-wrapper {
  display: flex;
  width: 95%;
  max-width: 500px;
  margin: 25px auto;
  justify-content: space-around;
}
.input-radio {
  display: none;
  & + .label-radio {
    border: 1.5px solid #aaa;
    padding: 4px 12px 5px 12px;
    border-radius: 5px;
    color: #aaa;
    font-size: 16px;
    transition: 0.3s;
    &:hover {
      cursor: pointer;
    }
  }
  &:checked + .label-radio {
    border-color: #99d;
    background-color: #99d;
    color: #fff;
    transition: 0.3s;
  }
}
