/*Checkboxes styles*/
input[type="checkbox"].input-checkbox {
  display: none;
}

input[type="checkbox"].input-checkbox + label {
  display: block;
  position: relative;
  padding-left: 30px;
  margin-bottom: 20px;
  line-height: 20px;
  color: #aaa;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

input[type="checkbox"].input-checkbox + label:last-child {
  margin-bottom: 0;
}

input[type="checkbox"].input-checkbox + label:before {
  content: "";
  box-sizing: border-box;
  display: block;
  width: 20px;
  height: 20px;
  border: 1px solid #aaa;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0.6;
  -webkit-transition: all 0.12s, border-color 0.08s;
  transition: all 0.12s, border-color 0.08s;
}
input[type="checkbox"].input-checkbox:checked + label {
  color: #555;
}
input[type="checkbox"].input-checkbox:checked + label:before {
  border-color: #77b;
  width: 10px;
  top: -5px;
  left: 5px;
  border-radius: 0;
  opacity: 1;
  border-top-color: transparent;
  border-left-color: transparent;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  transition: 0.3s;
}
