$red: #f44336;
$red-lighten5: #ffebee;
$red-lighten4: #ffcdd2;
$red-lighten3: #ef9a9a;
$red-lighten2: #e57373;
$red-lighten1: #ef5350;
$red-darken1: #e53935;
$red-darken2: #d32f2f;
$red-darken3: #c62828;
$red-darken4: #b71c1c;
$red-accent1: #ff8a80;
$red-accent2: #ff5252;
$red-accent3: #ff1744;
$red-accent4: #d50000;

$pink: #e91e63;
$pink-lighten5: #fce4ec;
$pink-lighten4: #f8bbd0;
$pink-lighten3: #f48fb1;
$pink-lighten2: #f06292;
$pink-lighten1: #ec407a;
$pink-darken1: #d81b60;
$pink-darken2: #c2185b;
$pink-darken3: #ad1457;
$pink-darken4: #880e4f;
$pink-accent1: #ff80ab;
$pink-accent2: #ff4081;
$pink-accent3: #f50057;
$pink-accent4: #c51162;

$purple: #9c27b0;
$purple-lighten5: #f3e5f5;
$purple-lighten4: #e1bee7;
$purple-lighten3: #ce93d8;
$purple-lighten2: #ba68c8;
$purple-lighten1: #ab47bc;
$purple-darken1: #8e24aa;
$purple-darken2: #7b1fa2;
$purple-darken3: #6a1b9a;
$purple-darken4: #4a148c;
$purple-accent1: #ea80fc;
$purple-accent2: #e040fb;
$purple-accent3: #d500f9;
$purple-accent4: #aa00ff;

$deepPurple: #673ab7;
$deepPurple-lighten5: #ede7f6;
$deepPurple-lighten4: #d1c4e9;
$deepPurple-lighten3: #b39ddb;
$deepPurple-lighten2: #9575cd;
$deepPurple-lighten1: #7e57c2;
$deepPurple-darken1: #5e35b1;
$deepPurple-darken2: #512da8;
$deepPurple-darken3: #4527a0;
$deepPurple-darken4: #311b92;
$deepPurple-accent1: #b388ff;
$deepPurple-accent2: #7c4dff;
$deepPurple-accent3: #651fff;
$deepPurple-accent4: #6200ea;

$indigo: #3f51b5;
$indigo-lighten5: #e8eaf6;
$indigo-lighten4: #c5cae9;
$indigo-lighten3: #9fa8da;
$indigo-lighten2: #7986cb;
$indigo-lighten1: #5c6bc0;
$indigo-darken1: #3949ab;
$indigo-darken2: #303f9f;
$indigo-darken3: #283593;
$indigo-darken4: #1a237e;
$indigo-accent1: #8c9eff;
$indigo-accent2: #536dfe;
$indigo-accent3: #3d5afe;
$indigo-accent4: #304ffe;

$blue: #2196f3;
$blue-lighten5: #e3f2fd;
$blue-lighten4: #bbdefb;
$blue-lighten3: #90caf9;
$blue-lighten2: #64b5f6;
$blue-lighten1: #42a5f5;
$blue-darken1: #1e88e5;
$blue-darken2: #1976d2;
$blue-darken3: #1565c0;
$blue-darken4: #0d47a1;
$blue-accent1: #82b1ff;
$blue-accent2: #448aff;
$blue-accent3: #2979ff;
$blue-accent4: #2962ff;

$lightBlue: #03a9f4;
$lightBlue-lighten5: #e1f5fe;
$lightBlue-lighten4: #b3e5fc;
$lightBlue-lighten3: #81d4fa;
$lightBlue-lighten2: #4fc3f7;
$lightBlue-lighten1: #29b6f6;
$lightBlue-darken1: #039be5;
$lightBlue-darken2: #0288d1;
$lightBlue-darken3: #0277bd;
$lightBlue-darken4: #01579b;
$lightBlue-accent1: #80d8ff;
$lightBlue-accent2: #40c4ff;
$lightBlue-accent3: #00b0ff;
$lightBlue-accent4: #0091ea;

$cyan: #00bcd4;
$cyan-lighten5: #e0f7fa;
$cyan-lighten4: #b2ebf2;
$cyan-lighten3: #80deea;
$cyan-lighten2: #4dd0e1;
$cyan-lighten1: #26c6da;
$cyan-darken1: #00acc1;
$cyan-darken2: #0097a7;
$cyan-darken3: #00838f;
$cyan-darken4: #006064;
$cyan-accent1: #84ffff;
$cyan-accent2: #18ffff;
$cyan-accent3: #00e5ff;
$cyan-accent4: #00b8d4;

$teal: #009688;
$teal-lighten5: #e0f2f1;
$teal-lighten4: #b2dfdb;
$teal-lighten3: #80cbc4;
$teal-lighten2: #4db6ac;
$teal-lighten1: #26a69a;
$teal-darken1: #00897b;
$teal-darken2: #00796b;
$teal-darken3: #00695c;
$teal-darken4: #004d40;
$teal-accent1: #a7ffeb;
$teal-accent2: #64ffda;
$teal-accent3: #1de9b6;
$teal-accent4: #00bfa5;

$green: #4caf50;
$green-lighten5: #e8f5e9;
$green-lighten4: #c8e6c9;
$green-lighten3: #a5d6a7;
$green-lighten2: #81c784;
$green-lighten1: #66bb6a;
$green-darken1: #43a047;
$green-darken2: #388e3c;
$green-darken3: #2e7d32;
$green-darken4: #1b5e20;
$green-accent1: #b9f6ca;
$green-accent2: #69f0ae;
$green-accent3: #00e676;
$green-accent4: #00c853;

$lightGreen: #8bc34a;
$lightGreen-lighten5: #f1f8e9;
$lightGreen-lighten4: #dcedc8;
$lightGreen-lighten3: #c5e1a5;
$lightGreen-lighten2: #aed581;
$lightGreen-lighten1: #9ccc65;
$lightGreen-darken1: #7cb342;
$lightGreen-darken2: #689f38;
$lightGreen-darken3: #558b2f;
$lightGreen-darken4: #33691e;
$lightGreen-accent1: #ccff90;
$lightGreen-accent2: #b2ff59;
$lightGreen-accent3: #76ff03;
$lightGreen-accent4: #64dd17;
//   lime
//     $base: #cddc39;
//     $lighten5: #f9fbe7;
//     $lighten4: #f0f4c3;
//     $lighten3: #e6ee9c;
//     $lighten2: #dce775;
//     $lighten1: #d4e157;
//     $darken1: #c0ca33;
//     $darken2: #afb42b;
//     $darken3: #9e9d24;
//     $darken4: #827717;
//     $accent1: #f4ff81;
//     $accent2: #eeff41;
//     $accent3: #c6ff00;
//     $accent4: #aeea00;
//   yellow
//     $base: #ffeb3b;
//     $lighten5: #fffde7;
//     $lighten4: #fff9c4;
//     $lighten3: #fff59d;
//     $lighten2: #fff176;
//     $lighten1: #ffee58;
//     $darken1: #fdd835;
//     $darken2: #fbc02d;
//     $darken3: #f9a825;
//     $darken4: #f57f17;
//     $accent1: #ffff8d;
//     $accent2: #ffff00;
//     $accent3: #ffea00;
//     $accent4: #ffd600;
//   amber
//     $base: #ffc107;
//     $lighten5: #fff8e1;
//     $lighten4: #ffecb3;
//     $lighten3: #ffe082;
//     $lighten2: #ffd54f;
//     $lighten1: #ffca28;
//     $darken1: #ffb300;
//     $darken2: #ffa000;
//     $darken3: #ff8f00;
//     $darken4: #ff6f00;
//     $accent1: #ffe57f;
//     $accent2: #ffd740;
//     $accent3: #ffc400;
//     $accent4: #ffab00;
//   orange
//     $base: #ff9800;
//     $lighten5: #fff3e0;
//     $lighten4: #ffe0b2;
//     $lighten3: #ffcc80;
//     $lighten2: #ffb74d;
//     $lighten1: #ffa726;
//     $darken1: #fb8c00;
//     $darken2: #f57c00;
//     $darken3: #ef6c00;
//     $darken4: #e65100;
//     $accent1: #ffd180;
//     $accent2: #ffab40;
//     $accent3: #ff9100;
//     $accent4: #ff6d00;
//   deepOrange
//     $base: #ff5722;
//     $lighten5: #fbe9e7;
//     $lighten4: #ffccbc;
//     $lighten3: #ffab91;
//     $lighten2: #ff8a65;
//     $lighten1: #ff7043;
//     $darken1: #f4511e;
//     $darken2: #e64a19;
//     $darken3: #d84315;
//     $darken4: #bf360c;
//     $accent1: #ff9e80;
//     $accent2: #ff6e40;
//     $accent3: #ff3d00;
//     $accent4: #dd2c00;
//   brown
//     $base: #795548;
//     $lighten5: #efebe9;
//     $lighten4: #d7ccc8;
//     $lighten3: #bcaaa4;
//     $lighten2: #a1887f;
//     $lighten1: #8d6e63;
//     $darken1: #6d4c41;
//     $darken2: #5d4037;
//     $darken3: #4e342e;
//     $darken4: #3e2723;

$blueGrey: #607d8b;
$blueGrey-lighten5: #eceff1;
$blueGrey-lighten4: #cfd8dc;
$blueGrey-lighten3: #b0bec5;
$blueGrey-lighten2: #90a4ae;
$blueGrey-lighten1: #78909c;
$blueGrey-darken1: #546e7a;
$blueGrey-darken2: #455a64;
$blueGrey-darken3: #37474f;
$blueGrey-darken4: #263238;
//   grey
//     $base: #9e9e9e;
//     $lighten5: #fafafa;
//     $lighten4: #f5f5f5;
//     $lighten3: #eeeeee;
//     $lighten2: #e0e0e0;
//     $lighten1: #bdbdbd;
//     $darken1: #757575;
//     $darken2: #616161;
//     $darken3: #424242;
//     $darken4: #212121;
//   shades
//     $black: #000000;
//     $white: #ffffff;
//     $tr
