@import './variables';
.v-skeleton-loader__image {
  height: 220px !important;
}
.v-expansion-panel-content__wrap {
  padding-left: 0;
  padding-right: 0;
}
.clickable {
  &:hover {
    cursor: pointer;
  }
}
.prof_heading {
  width: 100%;
  display: block;
  font-weight: bold;
  font-size: 18px;
  color: #559;
  border-bottom: 1px solid #77b;
  padding-bottom: 3px;
}
