* {
  margin: 0px;
  padding: 0px;
}
html {
  overflow-y: scroll;
}
body {
  max-width: 1260px;
  margin: 0 auto;
  font-family: sans-serif;
}
@mixin sp {
  @media (max-width: 768px) {
    @content;
  }
}

/*ヘッダー*/
.headerTop {
  display: flex;
  justify-content: space-between;
  height: 80px;
  line-height: 80px;
  padding: 3px 20px;
  background-color: #fefefe;
  border-bottom: 5px solid #00aaca;
  @include sp {
    height: 60px;
    // padding-bottom: 500px;
  }
}
.headerTop .blank {
  width: 150px;
}
.headerTop .logo {
  padding-top: 9px;
  @include sp {
    width: 100%;
    padding-top: 5px;
    img {
      height: 40px;
    }
  }
}
.headerTop .btn {
  width: 150px;
  @include sp {
    display: none;
  }
}
.headerTop .btn a {
  width: 150px;
  text-align: center;
  color: #111;
  font-size: 16px;
  text-decoration: none;
  background-color: #eee;
  border-left: 9px solid #00aaca;
  padding: 10px;
  transition: 0.3s; /*こっちにもtransitionを記述すると、戻りもゆっくりになる*/
}
.headerTop .btn a:hover {
  /*hoverはカーソルが載ったときの設定*/
  transition: 0.3s;
  text-decoration: none;
  background-color: #ddd;
  /* color: #333; */
  border-color: #007799;
}
/*-----------------------------------------------
メニュー
----------------------------------------------------*/
.menu {
  display: table;
  table-layout: fixed;
  width: 100%;
  padding: 0px;
}
.menu li {
  padding: 2px 0;
  display: table-cell;
  text-align: center;
  list-style: none;
  background-color: #00aaca;
  border-bottom: 4px solid #007799;
  transition: 0.4s;
}
.menu li a {
  display: block;
  width: 100%;
  font-size: 17px;
  line-height: 25px;
  text-decoration: none;
  color: #fff;
  transition: 0.3s;
}
.menu li:hover a {
  color: #ccc;
  transition: 0.3s;
  /* color: #ddd; */
}
.menu .splitter {
  width: 1px;
  vertical-align: middle;
}
.menu .splitter div {
  margin-top: 2px;
  display: block;
  background-color: #f0f0f0;
  width: 1px;
  height: 19px;
  /* background-color: #ddd; */
}
/*-------------------------------------
ランディングページ（画像が切り替わるところ）
----------------------------------------*/
.landing {
  background-size: cover;
  background-position: center center;
  background-color: gray;
  display: flex;
  width: 100%;
  height: 590px;
  background-image: url("/img/hp/landing_1.jpg");
  @include sp {
    height: 550px;
  }
}
.landing h1 {
  text-align: left;
  font-family: "游明朝", YuMincho, "ヒラギノ明朝 ProN W3",
    "Hiragino Mincho ProN", "HG明朝E", "ＭＳ Ｐ明朝", "ＭＳ 明朝", serif;
  font-weight: 100;
  line-height: 1.1;
  color: white;
  font-size: 115px;
  padding: 300px 0px 0px 40px;
  @include sp {
    line-height: 1.3;
    font-size: 40px;
    width: 100%;
    padding: 300px 0 0 15px;
  }
}
/*-----------------------------
index.html
----------------------------------*/
.main {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  padding-top: 60px;
  background-color: #fefefe;
  @include sp {
    padding-top: 0;
  }
}
.main .about_us,
.achievements,
.activities,
.andmore {
  box-sizing: border-box;
  flex: 0 0 33.3%;
  background-color: #00aaca;
  color: #fff;
  font-size: 22px;
  vertical-align: top;
  box-shadow: 2.5px 2.5px 2px -2px #aaa;
  letter-spacing: 0.075em;
  position: relative;
  background-size: cover;
  @include sp {
    flex: 0 0 100%;
    height: 200px;
    box-shadow: 0px 2.5px 2px 0px #aaa;
  }
}
.main .about_us {
  background-image: url("/img/hp/about_us.jpg");
  background-position: bottom center;
}
.main .achievements {
  background-image: url("/img/hp/achievements.jpg");
  background-position: bottom center;
}
.main .activities {
  background-image: url("/img/hp/activities.jpg");
  background-position: bottom center;
}
.main .andmore {
  background-image: url("/img/hp/and_more.jpg");
  background-position: bottom right;
}
.main h1 {
  padding-left: 30px;
  line-height: 72px;
  @include sp {
    width: 100%;
    text-align: center;
    padding: 0;
    font-size: 30px;
    margin-top: 60px;
  }
}
.main h1 span {
  font-size: 85px;
  @include sp {
    font-size: 40px;
  }
}
.description {
  box-sizing: border-box;
  flex: 0 0 66.6%;
  color: #484848;
  text-align: center;
  vertical-align: top;
  padding-top: 5px;
  padding-bottom: 15px;
  @include sp {
    flex: 0 0 100%;
    line-height: 1.3;
    p {
      text-align: left;
      line-height: 1.3;
      margin-bottom: 2px;
    }
  }
}
.description h2 {
  font-size: 30px;
  letter-spacing: 0.075em;
  @include sp {
    padding-top: 10px;
    font-size: 17px;
    text-align: center;
  }
}
.description h2::after {
  content: "";
  display: block;
  height: 3px;
  width: 100%;
  background: linear-gradient(to right, #00aaca, #ddd);
  margin-top: 10px;
  margin-bottom: 10px;
  @include sp {
    height: 2px;
  }
}
.description h2 span {
  color: #0090b0;
}
.description p {
  font-size: 23px;
  line-height: 1.3;
  margin-top: 10px;
  @include sp {
    width: 90%;
    margin: auto;
    font-size: 15px;
  }
}
.countries {
  text-align: left;
  .icon .icon-td {
    padding-bottom: 15px;
    .icon-img {
      @include sp {
        width: 40px;
        height: 40px;
      }
    }
  }
}
.description table {
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
  table-layout: fixed;
  border-collapse: collapse;
}
.description .countries {
  text-align: center;
}
.description .countries .name {
  font-size: 20px;
  height: 40px;
  @include sp {
    font-size: 13px;
  }
}
.button {
  background-color: #eee;
  width: 200px;
  height: 50px;
  border: none;
  color: #555;
  box-shadow: 1px 1px 4px -2px gray;
  font-size: 20px;
  margin-top: 20px;
}
.description ul {
  margin-top: 10px;
  list-style: none;
  vertical-align: center;
}
.description ul li {
  display: inline-block;
  width: 300px;
  height: 230px;
  margin: 10px 30px;
  box-shadow: 2px 2px 4px -2px gray;
  background: #fafafa;
  border-radius: 5px;
}
.description ul li a {
  display: block;
  width: 100%;
  height: 100%;
  text-decoration: none;
  color: inherit;
  transition: 0.4s;
  border-radius: 5px;
}
.description ul li a:hover {
  filter: brightness(80%);
  background-color: #f2f2f2;
  transition: 0.3s;
}
.description ul li a h3 {
  font-size: 20px;
  text-align: center;
  color: #fff;
}
.description ul li a p {
  font-size: 16px;
  text-align: center;
}
.description .link1 {
  text-align: center;
  font-size: 30px;
  font-weight: 100;
  line-height: 300px;
  width: 300px;
  height: 185px;
  box-shadow: none;
  color: white;
  border-bottom: none;
  border-radius: 5px 5px 0px 0px;
}
.description .link2 {
  font-size: 30px;
  text-align: center;
  line-height: 300px;
  font-weight: 100;
  width: 300px;
  height: 185px;
  box-shadow: none;
  color: white;
  border-bottom: none;
  border-radius: 5px 5px 0px 0px;
}
.icon .icon-td .icon-img {
  width: 50px;
  height: 50px;
}

/*index.html以外のページ*/
.title {
  width: 100%;
  background-color: gray;
  background-size: cover;
  height: 100px;
  display: flex;
  align-items: center;
}
.title_about {
  background-position: center center;
}
.title_achievements {
  background-position: center bottom;
}
.title_studyabroad {
  background-position: center center;
}
.title_activities {
  background-position: center center;
}
.title_join {
  background-position: center center;
}
.title h1 {
  padding-left: 75px;
  font-size: 48px;
  color: white;
  float: left;
}
.title h2 {
  padding-left: 50px;
  font-size: 20px;
  color: white;
}
.wrapper {
  width: 100%;
  background-color: #fefefe;
}
.container {
  width: 90%;
  background-color: #fefefe;
  margin: 0 auto;
}
.container_about {
  display: table;
}
.about_logo {
  display: table-cell;
  width: 30%;
  color: #484848;
  text-align: center;
  padding-top: 20px;
  margin-left: 100px;
}

.container .description {
  margin: 0 50px;
}
.container .description h2 {
  text-align: left;
  margin-top: 15px;
}
.container .description p {
  margin: 0 auto;
  width: 90%;
  text-align: left;
  font-size: 18px;
  line-height: inherit;
}
.form {
  width: 100%;
  @include sp {
    margin-top: 20px;
  }
  p,
  input,
  textarea,
  button {
    width: 80%;
    box-sizing: border-box;
    display: block;
    margin: auto;
  }
  textarea,
  input {
    font-size: 16px;
    padding: 2px 5px;
    margin-bottom: 15px;
    border-radius: 5px;
    box-shadow: none;
  }
  p {
    text-align: left;
    color: #555;
    margin-bottom: 10px;
  }
  input {
    height: 28px;
  }
  button {
    width: 50%;
    height: 40px;
    background-color: #09b;
    transition: 0.3s;
    border-radius: 5px;
    box-shadow: none;
    border: none;
    color: #ffffff;
    font-size: 18px;
    &:hover {
      background-color: #057;
      cursor: pointer;
      transition: 0.3s;
    }
  }
}

/*フッター*/
footer {
  height: 100px;
  width: 100%;
  position: relative;
  background-color: #101525;
  margin-top: 60px;
  @include sp {
    height: 75px;
    margin-top: 20px;
  }
}
.footer-menu {
  display: table;
  margin: 0 auto;
  padding-top: 5px;
  text-align: center;
  border-spacing: 15px 0;
}
.footer-menu li {
  display: table-cell;
  list-style: none;
}
.footer-menu li a {
  font-size: 11px;
  text-align: center;
  color: #ddd;
  text-decoration: none;
  transition: 0.3;
}
.footer-menu li a:hover {
  color: #aaa;
  text-decoration: underline;
  transition: 0.2s;
}
footer p {
  width: 100%;
  text-align: center;
  margin-bottom: 10px;
  position: absolute;
  bottom: 0;
  color: #ddd;
  font-size: 10px;
}
