* {
  color: #555;
}
input::placeholder {
  color: #999;
}
body {
  margin: 0;
}

/********************
 *                  *
 * header.blade.php *
 *                  *
 ********************/
header {
  margin-top: 0px;
  border-bottom: 3px solid #ddd;
  
}
#web_header {
  display :flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  height: 45px;
  padding: 0 10px;
}
#web_header .logo {
  display: block;
  height: 32px;
}
#web_header .elements {
  width: 50px;
  font-size: 11px;
}
#web_header .elements a {
  display: block;
  text-decoration: none;
}

@media screen and (min-width:768px) {
  header {
    margin-bottom: 30px;
  }
  #web_header {
    height: 70px;
    padding: 0 100px;
  }
  #web_header .logo {
    height: 50px;
  }
  #web_header .elements {
    font-size: 15px;
  }
}



/********************
 *                  *
 * Login Page       *
 *                  *
 ********************/


.top_logo {
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: center;
}
.top_logo img {
  width: 80%;
}
.top_logo p {
  color: #555;
  letter-spacing: 0.04em;
  font-size: 12px;
  padding-top: 0px;
  margin-top: 5px;
}
#login_page .form_group button,a {
  display: block;
}
#login_page .register {
  text-align: center;
}
#login_page .register p a {
  font-size: 12px;
  transition: 0.3s;
}
#login_page .register p a:hover {
  color: #333;
}
@media screen and (min-width:768px) {
  .top_logo {
    margin-top: 60px;
    margin-bottom: 50px;
  }
  .top_logo img {
    width: inherit;
  }
  .top_logo p {
    font-size: 16px;
    padding-top: 10px;
  }
  #login_page .form_group button,a {
    display: inline;
  }
  #login_page .register p a {
    font-size: 16px;
    margin: 15px 0 10px 0;
  }
  #login_page .register button {
    margin-bottom: 10px;
  }
}


/********************
 *                  *
 * form             *
 *                  *
 ********************/

.form_wrapper {
  font-size: 14px;
  width: 95%;
  margin: 15px auto;
  border: 1px solid #ccc;
  border-radius: 1%;
}

.form_wrapper .title {
  font-size: 16px;
  margin: 0px;
  padding: 10px 30px;
  border-bottom: 1px solid #ccc;
}
.form_wrapper .card_text {
  font-size: 14px;
  padding: 0 20px;
}
.form_wrapper form {
  padding: 10px 30px;
}
.form_wrapper .form_group {
  margin-top: 15px;
  margin-bottom: 15px;
}
@media screen and (min-width:768px) {
  .form_wrapper {
    margin: 15px auto;
    font-size: 16px;
    width: 600px;
  }
  .form_wrapper .card_text {
    font-size: 16px;
    padding: 0 30px;
  }
  .form_wrapper .title {
    font-size: 18px;
    padding: 20px 30px;
  }
  .form_wrapper form {
    padding: 10px 30px;
  }
}
.form_wrapper .input_text {
  font-size: 13px;
  height: 20px;
  width: 90%;
  margin: 10px 0px;
  padding: 5px 12px;
  border: 1px solid #ccc;
  border-radius: 2%;
}
.form_wrapper .form_group .remarks {
  margin: 0 0 5px 0;
  padding: 0px;
  font-size: 10.5px;
}
.form_wrapper .input_option {
  width: 220px;
  border: 1px solid #ccc;
  background-color: #fff;
  font-size: 13px;
  height: 35px;
  margin: 10px 0px;
  padding: 0 12px;
}
.form_wrapper .input_checkbox {
  margin-top: 10px;
  height: 17px;
  width: 17px;
}
@media screen and (min-width:768px) {
  .form_wrapper .input_text {
    width: 70%;
    font-size: 15px;
    height: 22px;
  }
  .form_wrapper .input_option {
    width: 220px;
    font-size: 15px;
  }
  .form_wrapper .form_group {
    margin: 20px auto;
  }
}
#registration_page button {
  margin-top: 10px;
}
#registration_page span {
  font-weight: bold;
  font-size: 16px;
}
@media screen and (min-width:768px) {
  #registration_page span {
    font-size: 20px;
  }
}
.form_wrapper a {
  color: #00aaca;
  margin-left: 0px;
  text-decoration: none;
  transition: 0.3s;
}
.form_wrapper a:hover {
  color: #007799;
  text-decoration: underline;
  transition: 0.3s;
}
#registration_conf_page .form_group {
  margin-bottom: 15px;
}
#registration_conf_page .input_wrapper {
  padding-top: 10px;
  padding-left: 25px;
}
#registration_conf_page label {
  font-weight: bolder;
}
#name_confirm p span {
  font-size: 20px;
}
#name_confirm .form_group {
  margin-top: 25px;
}



.graybtn,.bluebtn {
  width: 90px;
  height: 35px;
  font-size: 16px;
}
.graybtn {
  border: none;
  background-color: #ddd;
  color: #444;
  border-radius: 5%;
  cursor: hand;
  cursor: pointer;
  transition: 0.3s;
}
.graybtn:hover {
  background-color: #bbb;
  transition: 0.3s;
}
.bluebtn {
  border: none;
  color: #fff;
  background-color: #00aaca;
  border-radius: 5%;
  cursor: hand;
  cursor: pointer;
  transition: 0.3s;
}
.bluebtn:hover {
  background-color: #007799;
  color: #eee;
  transition: 0.3s;
}
.form_group button {
  margin-right: 20px;
}

@media screen and (min-width:768px) {
  .form_wrapper .form_group .remarks {
    margin: 0 0 5px 0;
    padding: 0px;
    font-size: 13px;
  }
  .graybtn,.bluebtn {
    width: 120px;
    height: 40px;
    font-size: 17px;
    margin-bottom: 0;
  }

}
.help-block {
  margin: 0px;
  padding: 0px;
}
.help-block strong {
  margin: 0px;
  font-size: 12px;
  color: #ff1155;
}
@media screen and (min-width:768px) {
  .help-block strong {
    font-size: 13px;
  }
}


/********************
 *                  *
 * My Page       *
 *                  *
 ********************/

.card {
  font-size: 14px;
  width: 95%;
  margin: 14px auto;
  border: 1px solid #ccc;
  border-radius: 3%;
}
.card .table_view {
  display: table;
  table-layout: fixed;
  width: 100%;
}
.card .table_view .cell {
  display: table-cell;
}
.card .block_view {
  display: block;
  width: 100%;
}

.card .content {
  margin-top: 20px;
  margin-bottom: 20px;
}

.card .content .block_view {
  margin: 15px auto;
}
.card .content .table_view {
  margin: 15px auto;
}
.card .content .table_view p {
  margin-top: 0px;
  margin-bottom: 0px;
}


.card .title {
  width: 100%;
  border-bottom: 1px solid #ccc;
}
.card .title .text {
  width: 75%;
}
.card .title .link {
  width: 25%;
  }
.card .title  p {
  
}
.card .title .button p a {
  text-decoration: underline;
  text-align: center;
  color:#00aaca;
}
.card .title .button p a:hover {
  color: #007799;
}



.card .content .table_view .property {
  text-align: right;
  width: 30%;
}
.card .content .table_view .value {
  width: 70%;
}
.card .content .table_view .value p {
  margin-left: 10px;
  margin-right: 10px;
}
.card .content .block_view .property p {
  margin: auto 25px;
}
.card .content .block_view .value p,input,select,textarea,button {
  margin: 5px 0px 5px 25px;
  background-color: #fff;
}
.card .content .block_view .value .input_text {
  border: 1px solid #ccc;
  width: 65%;
  height: 20px;
  padding: 2px 5px;
}
.card .content .block_view .value .input_select {
  border: 1px solid #ccc;
  width: 50%;
  height: 30px;
  padding: 0px 5px;
}
.card .content .block_view .value .input_radio {
  margin: 5px 15px 0px 15px;
}
.card .content .block_view .value .input_textarea {
  width: 80%;
  height: 100px;
  border: 1px solid #ccc;
}

@media screen and (min-width:768px) {
  .card {
    font-size: 16px;
    width: 750px;
  }
}