.main {
  width: 95%;
  max-width: 1000px;
  margin: auto;
}
iframe {
  display: block;
  width: 100%;
  height: 400px;
  margin: 20px auto 25px;
  @include pc {
    height: 600px;
  }
}
.google {
  text-decoration: none;
  height: 36px;
  display: inline-block;
  margin: auto;
  .icon {
    display: inline-block;
  }
  .text {
    display: inline-block;
    line-height: 36px;
    vertical-align: top;
    font-size: 18px;
  }
}
.agenda {
  display: block;
  width: 90%;
  list-style: none;
  padding: 0;
  margin: 20px auto;
  @include pc {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
  }
  .add {
    display: block;
    margin-bottom: 15px;
    border-radius: 5px;
    position: relative;
    height: 50px;
    padding: 5px 0;
    @include pc {
      height: 60px;
      flex: 0 0 30%;
      margin: 1.6%;
      padding: 15px 0;
    }
    .button {
      background-color: #fff;
      box-shadow: 1px 1px 5px 1px #ccc;
      border-radius: 5px;
      text-decoration: none;
      display: block;
      height: 50px;
      width: 55%;
      text-align: center;
      transition: 0.3s;
      @include absolute_center;
      @include pc {
        width: 75%;
        height: 60px;
      }
      .icon {
        width: 36px;
        height: 36px;
        padding: 7px 0;
        @include pc {
          padding: 12px 0;
        }
      }
      .text {
        display: inline-block;
        height: 50px;
        line-height: 50px;
        font-size: 18px;
        padding: 0;
        font-weight: bold;
        vertical-align: top;
        @include pc {
          font-size: 20px;
          height: 60px;
          line-height: 60px;
        }
      }
      &:hover {
        background-color: #f5f5f5;
        transition: 0.3s;
      }
    }
  }
  .event {
    display: block;
    margin-bottom: 25px;
    border-radius: 5px;
    box-shadow: 1px 1px 5px 1px #ccc;
    padding-top: 4px;
    @include pc {
      flex: 0 0 30%;
      margin: 1.6%;
    }
    .title {
      display: block;
      border-top-right-radius: 5px;
      border-top-left-radius: 5px;
      background-color: #fff;
      height: 35px;
      padding: 2px 0;
      display: flex;
      flex-wrap: wrap;
      @include pc {
        padding-top: 3px;
        font-size: 20px;
      }
      &::after {
        content: "";
        display: block;
        width: 95%;
        height: 2px;
        margin: auto;
        background: linear-gradient(
          to right,
          rgba(234, 67, 53, 1) 0%,
          rgba(234, 67, 53, 1) 25%,
          rgba(251, 188, 5, 1) 25%,
          rgba(251, 188, 5, 1) 50%,
          rgba(66, 133, 244, 1) 50%,
          rgba(66, 133, 244, 1) 75%,
          rgba(52, 168, 83, 1) 75%,
          rgba(52, 168, 83, 1) 100%
        );
        @include pc {
          height: 3px;
        }
      }
      .text {
        color: #444;
        font-size: 18px;
        flex-grow: 1;
        line-height: 35px;
        font-weight: bold;
        margin-left: 12px;
        @include pc {
          margin-left: 15px;
        }
      }
      .icon {
        height: 35px;
        width: 35px;
        margin-right: 5px;
        @include pc {
          height: 35px;
          width: 35px;
          padding: 0;
        }
        .img {
          height: 20px;
          width: 20px;
          padding: 7.5px;
        }
      }
    }
    .wrapper {
      display: block;
      background-color: #fdfdff;
      padding: 8px 0;
      .description {
        color: #444;
        padding: 0 12px;
        @include pc {
          padding: 0 15px;
        }
      }
    }
  }
}
