.main {
  width: 95%;
  max-width: 1000px;
  margin: auto;
}
iframe {
  display: block;
  width: 100%;
  height: 400px;
  margin: 20px auto;
  @include pc {
    height: 600px;
  }
}
.agenda {
  display: block;
  width: 90%;
  list-style: none;
  padding: 0;
  margin: 20px auto;
  @include pc {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
  }
  .add {
    display: block;
    margin-bottom: 15px;
    border-radius: 5px;
    position: relative;
    height: 50px;
    padding: 5px 0;
    @include pc {
      height: 60px;
      flex: 0 0 30%;
      margin: 1.6%;
      padding: 15px 0;
    }
    .button {
      background-color: #7777bb;
      box-shadow: 1px 1px 5px 1px #ddd;
      border-radius: 5px;
      text-decoration: none;
      display: block;
      height: 50px;
      width: 55%;
      text-align: center;
      transition: 0.3s;

      @include absolute_center;
      @include pc {
        width: 75%;
        height: 60px;
      }
      .icon {
        height: 18px;
        width: 18px;
        padding: 16px 5px;
        @include pc {
          height: 20px;
          width: 20px;
          padding: 20px 5px;
        }
      }
      .text {
        display: inline-block;
        height: 50px;
        line-height: 50px;
        color: #ffffff;
        font-size: 18px;
        padding: 0 5px;
        vertical-align: top;
        @include pc {
          font-size: 20px;
          height: 60px;
          line-height: 60px;
        }
      }
      &:hover {
        background-color: #555577;
        transition: 0.3s;
      }
    }
  }
  .event {
    display: block;
    margin-bottom: 25px;
    border-radius: 5px;
    box-shadow: 1px 1px 5px 1px #ddd;
    @include pc {
      flex: 0 0 30%;
      margin: 1.6%;
      // min-height: 98px;
    }
    .title {
      display: block;
      border-top-right-radius: 5px;
      border-top-left-radius: 5px;
      background-color: #7777bb;
      height: 35px;
      padding: 0 10px;
      display: flex;
      flex-wrap: wrap;
      @include pc {
        font-size: 20px;
      }
      .text {
        color: #ffffff;
        font-size: 18px;
        flex-grow: 1;
        line-height: 35px;
      }
      .icon {
        height: 35px;
        width: 35px;
        @include pc {
          height: 35px;
          width: 35px;
          padding: 0;
        }
        .img {
          height: 20px;
          width: 20px;
          padding: 7.5px;
        }
      }
    }
    .wrapper {
      display: block;
      background-color: #fdfdff;
      padding: 7px 0;
      @include pc {
        padding: 7px 10px;
      }
      .description {
        padding: 0 12px;
        @include pc {
          padding: 0 15px;
        }
      }
    }
  }
}
