footer {
  background-color: #3a3a55;
  position: relative;
  height: 75px;
  text-align: center;
  box-shadow: 0 0 6px 2px #ccc;
  margin-top: 20px;
  @include pc {
    margin-top: 45px;
    height: 110px;
  }
  .footer_menu {
    width: 90%;
    max-width: 800px;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    padding: 3px 0 0 0;
    @include pc {
      padding-top: 8px;
    }
    .menu_list {
      flex: 0 0 20%;
      text-align: center;
      .menu_link {
        text-decoration: none;
        display: inline-block;
        color: #ddd;
        font-size: 10.5px;
        @include pc {
          font-size: 13px;
        }
        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
  .copyright {
    position: absolute;
    bottom: 0;
    text-align: center;
    font-size: 10px;
    color: #ddd;
    width: 100%;
    margin-bottom: 5px;
    height: 20px;
    line-height: 20px;
    @include pc {
      font-size: 11px;
      margin-bottom: 6px;
    }
    .logo {
      height: 20px;
    }
  }
}
