/********************
 *                  *
 * Header           *
 *                  *
 ********************/
 header {
    #web_header {
        display :flex;
        justify-content: space-between;
        align-items: center;
        text-align: center;
        height: 50px;
        padding: 5px 20px;
        @include pc {
            height: 75px;
            padding: 7px 20px;
        }

        .logo {
            display: block;
            height: 40px;

            @include pc {
                height: 65px;
            }
        }
        .elements {
            display: block;
            padding-top: 3px;
            width: 22px;
            height: 22px;
            @include pc {
                width: 30px;
                height: 30px;
                margin-right: 50px;
            }
        }
    }
    .dammy_menu {
        width: 100%;
        height: 3px;
        background-color: #777799;
    }
    .menu {
        width: 100%;
        height: 35px;
        background-color: #555577;
        display: table;
        table-layout: fixed;
        margin: 0;
        padding: 0;
        @include pc {
            height: 35px;
        }
        .menu_content {
            text-align: center;
            display: table-cell;
            align-items: center;
            a {
                display: block;
                font-size: 14px;
                color: #fafafa;
                text-decoration: none;
                line-height:35px;
                transition: 0.3s;
                &:hover {
                    background-color: #7777bb;
                    transition: 0.3s;
                }
                @include pc {
                    font-size: 16px;
                    line-height: 35px;
                }
            }
        }
        .splitter {
            display: table-cell;
            width: 1px;
            vertical-align: middle;
            div {
                margin: 0;
                padding: 0;
                background-color: #ddd;
                width: 1px;
                height: 23px;
                @include pc {
                    height: 20px;
                }
            }
        }
    }
}